{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registrazione Cliente - Hotel Bidding{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-success text-white">
                <h3 class="mb-0">Registrazione Cliente</h3>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}

                    <h5 class="mb-3">Dati Account</h5>
                    <div class="row">
                        <div class="col-md-6">{{ form.username|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.email|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.first_name|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.last_name|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.password1|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.password2|as_crispy_field }}</div>
                    </div>

                    <hr>

                    <h5 class="mb-3">Dati Cliente</h5>
                    <div class="row">
                        <div class="col-md-6">{{ form.telefono|as_crispy_field }}</div>
                    </div>

                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-success btn-lg">Registrati come Cliente</button>
                    </div>
                </form>
                <hr>
                <p class="text-center mb-0">
                    Hai già un account? <a href="{% url 'login' %}">Accedi qui</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}